@model IEnumerable<WebApplication1.DAL.FlightRepository>
@using WebApplication1.DAL;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h2>Flight</h2>
    
    @foreach (var item in Model)
    {
        <div class="col-md-4">        
        <div class="well">
            @Html.DisplayFor(f => item.Number);           
        </div>
            <div class="well">
                @Html.DisplayFor(f => item.Terminal.Name);
            </div> 
            @foreach (var pas in item.Passenger)
            { 
                <div class="well">
                    @Html.DisplayFor(f => pas.FirstName);
                </div>         
            }
    </div>
    }
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>
    <div class="col-md-4">

    </div>
</div>