body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div .welcome {
  position: absolute;
  top: 7%;
  padding-left: 2%;
  float:left;
  z-index:10;
}

.timeTable {
  position: absolute;
  top: 7%;
  margin-left: 50%;
  z-index:10;
}

.flights-info-ribbon {
  position: absolute;
  top: 10%;
  margin-left:35%;
  z-index:10;
  width: 50%;
  text-align: center;
  opacity: 1;
}