@{
    ViewBag.Title = "My Airport";
}

<div class="container">
    <div class="row">
        <img style="width:100%; " src="~/Content/Image/HomeBackground.jpg" />
        <div class="col-xs-6">
            <h1>
                Welcome to
                <br />
                MyAirport
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <h2>TimeTable</h2>
            <p>Some short timetable</p>
        </div>
        <div class="col-xs-6">
            <h2>Some an advertisements</h2>
            <p>You can buy good knowledge in Brain Academy</p>
        </div>
    </div>
</div>