@model IEnumerable<WebApplication2.ModelsView.TimeTableView>

@{
    ViewBag.Title = "Index";
    WebGrid gridOnlineBoard = new WebGrid(source: Model, rowsPerPage: 5);
}

@{
    ViewBag.Title = "My Airport";
}
@Styles.Render("~/Content/MyCss")

<div class="container">
        <img style="width:100%; opacity:0.7" src="~/Content/Image/HomeBackground.jpg" />
        <div class="welcome">
            <h1>
                Welcome
                <br />
                MyAirport
            </h1>
        </div>

    <div class="flights-info-ribbon">
      <h3>Online timetale</h3>
        <div class="container">
            @gridOnlineBoard.GetHtml(
    tableStyle: "containerTable"
    )
        </div>
        
    </div>
</div>